---
layout: default
---

<div class="home">

  <div class="divider">
    <div class="left">
      <img id="profilepic" width="200" height="200" src="assets/profile.jpg" alt="Profile">
    </div>
    <div class="right">
      <p>Hi! I'm Jennifer, and welcome to my website!</p>
      <p>
        I'm a <a href="https://the-turing-way.netlify.app/collaboration/research-infrastructure-roles/rse">research software engineer</a> 
        at the <a href="https://www.ucl.ac.uk/">UCL</a> / <a href="https://www.uclhospitals.brc.nihr.ac.uk/clinical-research-informatics-unit"> UCLH Clinical Research Informatics Unit</a>. 
        Previously, my experience ranged from working in computational neuroscience research to being one of the first two hires at a computer vision fitness tech startup. 
      </p>
      <p>
        I am interested in building and deploying NLP / LLM solutions to healthcare systems safely and transparently.

        I'm always open to interesting conversations and collaborations, so feel free to <a href="mailto:jenniferjiangkells@gmail.com">reach
          out</a>!
      </p>
    </div>
  </div>


<!--   
  <div style="display:flex;justify-content:center;">
    <iframe src="https://jenniferajiang.substack.com/embed" width="480" height="100"
      style="border:0px solid #EEE; background:fffff8;" frameborder="0" scrolling="no"></iframe>
  </div>
  -->

  <!-- &nbsp;

  <hr>

  &nbsp;

  <h2>Recent Posts</h2>

  <ul class="post-list">
    {% assign mainPosts = site.posts | where: 'type', 'post' %}
    {% for post in mainPosts limit:3 %}
    <li>
      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
      <span class="post-meta">{{ post.date | date: date_format }} &verbar; {{ post.category | capitalize }}</span>

      <h3><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h3>
      <p style="color:#828282">{{ post.description }}</p>
    </li>
    {% endfor %}
  </ul>
</div> -->